<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<style>
    .large{
        font-size:50px ;
    }
</style>
</head>
<body>

<div id="app">
    <h1>{{title}}</h1>
    <button v-bind:class="[sizeToggleMyVar?'large':'',{'rounded':isRoundedMyVar}]"
    v-bind:style="computedstyles"
            v-bind:disabled="disabledMyVar">START</button>
    <ul>
        <li><input type="checkbox" v-model="sizeToggleMyVar"><label for="">Size</label></li>
        <li><input type="checkbox" v-model="isRoundedMyVar"><label for="">isRoundedMyVar</label></li>
        <li><input type="checkbox" v-model="disabledMyVar"><label for="">disable</label></li>
        <li><input type="text" v-model="fontColor"/></li>
        <li><input type="text" v-model="backgroundColor"/></li>
    </ul>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js"></script>
<script src="myapp.js"></script>
</body>
</html>